<h1 id="course_name"><%= @course.name %></h1>

<p>
  <b>Address:</b><br>
  <%= @course.address %><br>
  <%= @course.city %>, <%= @course.state %> <%= @course.zip %>
</p>

<%= link_to 'Back', courses_path %>