<p>
  <strong>Course: </strong><br>
  <%= @course.course_name %>
</p>

<p>
  <strong>Address: </strong><br>
  <%= @course.address%><br>
  <%= @course.city%>, <%= @course.state%> <%= @course.zip %>
</p>
